@charset "UTF-8";

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco:   #1c1d26;
    --sombra-ppal:#5e0505;
    --sombra-sec:  #7a0a58;
    --borde-negro: #FFFFFF50;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}


.acordeon {
  width: 100%;
  max-width: 60rem;
  padding: 2rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .bloque {
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .h2 {
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  cursor: pointer; 
}
.acordeon .h2:hover {
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
          box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
} 

.acordeon .contenido {
  height: 0;
  padding: 0rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
  height: auto;
}